<footer class="site-footer h-card">
  <data class="u-url" href="{{ " /" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        {%- if site.posts.size > 0 -%}
        <h2 class="post-list-heading">{{ page.list_title | default: "Recent Posts" }}</h2>
        <ul class="post-list">
          {%- for post in site.posts -%}
          <li>
            {%- assign date_format = site.minima.date_format | default: "%Y-%m" -%}
            <span class="post-meta">
              {{ post.date | date: date_format }}
            </span>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </li>
          {%- endfor -%}
        </ul>
        {%- endif -%}
      </div>
      <div class="footer-col footer-col-3">
        <h2 class="post-list-heading">Contact Us</h2>
        <ul class="contact-list">
          {%- if site.email -%}
          <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {%- endif -%}
          <span>+1 (415) 340-1178</span>
          <br />
          <span>San Francisco, CA 🇺🇸</span>
        </ul>
      </div>

    </div>
  </div>
</footer>