---
---

@import "minima";

.post-link { display: inline; font-size: 16px; }
.post-list-heading { font-size: 18px; }
.site-title { font-size: 22px; } 
.post-title { font-size: 24px; letter-spacing: -1px; line-height: 1; }

#banner {
    table-layout: fixed;
    border-style: hidden;
}

body {
    font-family: Helvetica, sans-serif;
}

h2 {
    font-weight: bold;
    font-size: 1.5rem;
}
